{% if ord_lect %}
	<head>
		{% load staticfiles %}
			<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	</head>
	<body>
	    <div id="table content">
	    	<table class="juiceTable">
	    		<tr>
	    			<th>Name</th>
	    			<th>Surname</th>
	    			<th>Full Name</th>
	    			<th>Date of Birth</th>
	    		</tr>
	        	{% for lect in ord_lect %}
		        	<tr>
		        		<td>{{lect.name}}</td>
		        		<td>{{lect.surname}}</td>
		        		<td>{{lect.full_name}}</td>
		        		<td>{{lect.date_of_birth}}</td>
		        	</tr>
		        {% endfor %}
	        </table>
	    </div>
	    <div class="gap"></div>
	    <div>
	    	<a href="/admin/"><b>Home</b></a> 
	    </div>
	</body>
{% else %}
    <p>No Lecturers are available.</p>
{% endif %}